.venv/
*.log
*.backup
__pycache__/
dist/
build/
.ipynb_checkpoints/

run/local/
run/profile/
run/train/
run/wav/cache/

*.deb
/intent_recognition/fsticuffs/openfst-1.6.9/
/intent_recognition/intigo/clingo-5.3.0/

debian/**/usr/lib/
debian/**/opt/

docs/notebooks/profile/
docs/notebooks/wav_files.txt

/languages/

supervisord.log
supervisord.pid
.doit.db*

qemu-*-static