.venv/
*.log
*.backup
__pycache__/
dist/
build/

run/local/
run/profile/
run/train/
run/wav/cache/

/intent_recognition/fsticuffs/openfst-1.6.9/
/intent_recognition/fsticuffs/debian/*.deb
/intent_recognition/fsticuffs/debian/rhasspy-fsticuffs_1.0_amd64/usr/lib/rhasspy/fsticuffs/