.venv/
*.log
*.backup
__pycache__/
dist/
build/
.ipynb_checkpoints/

run/local/
run/profile/
run/train/
run/wav/cache/

*.deb
/intent_recognition/fsticuffs/openfst-1.6.9/

debian/**/usr/lib/
debian/**/opt/