Package: rhasspy-fsticuffs
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Michael Hansen
Description: OpenFST-based intent recognition tool for Rhasspy voice assistant
