Package: rhasspy-webrtcvad
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Michael Hansen
Description: webrtcvad-based voice command detection tool for Rhasspy voice assistant
