Package: rhasspy-program-launcher
Version: 1.0
Section: utils
Priority: optional
Depends: supervisor, rhasspy-en-us-pocketsphinx-cmu (=1.0), rhasspy-train (=1.0), rhasspy-pocketsphinx (=1.0), rhasspy-fsticuffs (=1.0), rhasspy-pulseaudio (=1.0), rhasspy-push-to-talk (=1.0), rhasspy-jsonl-sub (=1.0), rhasspy-yq (=1.0)
Architecture: amd64
Maintainer: Michael Hansen
Description: U.S. English voice assistant based on Rhasspy
