Package: rhasspy-train
Version: 1.0
Section: utils
Priority: optional
Depends: libstdc++6, jq, mosquitto-clients, rhasspy-jsonl-sub (=1.0), rhasspy-yq (=1.0)
Architecture: amd64
Maintainer: Michael Hansen
Description: Training utilities for Rhasspy voice assistant
